
@import url("https://unpkg.com/basscss@8.0.2/css/basscss.min.css");
@import url("https://fonts.googleapis.com/css?family=Alegreya");

html {
   padding: 0px;
   padding-left: 40px; padding-right: 20px; 
}
body {display: none; 
  font-size: 120%; font-family: 'Alegreya', serif;
}
p,hr,h1,h2,h3,h4,h5 {
  display: block; position: relative;
  text-indent: 0; margin-left:1em; margin-right:1em;
}
h2,h3,h4,h5 {opacity: .85; text-align: center;}

hr, hr.small, hr.sm { 
  margin: 0;
  display: block; height: 2rem;
  opacity: .5;
  border: none; 
  background-image: url('hr-sm.png');
  background-size: 54px 8px;
  background-repeat: no-repeat;
  background-position: center; 
}
hr.large, hr.lg { 
  display: block; height: 4rem;  
  background-image: url('hr-style.svg');
  background-size: 40%; 
}


 
.section {text-align: center; font-style: underline; }

/*  Frontmatter */

.title { 
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.37);
  font-weight: normal;
  text-align: center;
}
.subtitle { 
  font-variant:small-caps;
  page-break-after: avoid;
  text-align: center;
}
.author { 
  margin-bottom: 2em;
  text-align: center;
}
.copy, .copyright { 
  margin-bottom: 2em;
  color: silver;
  text-align: center;
}

.ref, .reference,.sit, .sitalcent, .ed, .editor, .sig, .signature {white-space: pre-line;}
.ref, .reference {
  text-align: right; opacity: .75; font-size: .9em; font-style: italic; margin-top: -1em;
  margin-right: 2em;
}
.sit, .sitalcent {
  text-align: left; opacity: .85; font-style: italic; font-size: 90%;
}
.ed, .editor {
  text-align: left; opacity: .65; font-style: italic;
}
.sig, .signature {
  text-align: left; opacity: .85; font-style: italic;
}


/* number paragraph blocks unless .noid class*/
p[pnum]::before {
 /* font-family: GentiumPlus, 'Georgia', 'serif';*/
  content: attr(pnum);
  font-size: 10px; 
  position: absolute; 
  top: 0; left: -40px;  
  font-style: normal;
  color: gray; 
}
.footnote-item p[pnum]::before { content: ''; }
section.footnotes {display: none;}

span[data-pg]::before {
  content: "pg " attr(data-pg);
  font-size: 10px;  
  position: absolute; 
  right: -3.5em;  
  font-style: normal;
  color: gray; 
}
 
/*override position for rtl*/  
p[pnum][dir="rtl"]:before {
  right:-58px; left: 0; padding-right:15px; padding-left:0; direction: rtl;
}

.verse, .list {white-space: pre-line;}

/* General Style Overrides */
.blockquote, .block, .bq {padding-left: 2em; padding-right: 2em;}
.allcaps {text-transform: uppercase;}
.smallcaps {font-variant: small-caps;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.hidden {display: none;}
.italic {font-style: italic;}

.footnote-ref {color: gray; font-size: 50%;}

